.messageImage {
    margin-right: 18px;
    object-fit: cover;
    border-radius: 6px;
    height: 30vw;
    max-height: 200px;
    max-width: 200px;
    min-height: 100px;
    min-width: 100px;
}

.message {
    padding: 12px;
    font-size: 16px;
    border-radius: 6px;
    max-width: 60%;
}