.messageBlock {
    width: 100%;
    display: inline-block;
}

.readReceipts {
    position: relative;
    bottom: 6px;
}

.chatFeed {
    height: 100%;
    width: 100%;
    overflow: scroll;
    background-color: #FFF;
}

.chatTitleContainer {
    width: calc(100% - 36px);
    padding: 18px;
    text-align: center;
}

.chatTitle {
    color: #14A5F0;
    font-weight: 800;
    font-size: 24px;
}

.chatSubtitle {
    color: #14A5F0;
    font-weight: 600;
    font-size: 12px;
    padding-top: 4px;
}

.messageFormContainer {
    position: absolute;
    bottom: 0px;
    width: calc(100% - 36px);
    padding: 18px;
    background-color: #FFF;
}